
body{
    font-family: 'Oswald', sans-serif;
}
.body-font{
    font-family: 'Oswald', sans-serif;
    color:azure;
}

/*-------------
   top-banner
----------------*/



main{
    display:flex;
    justify-content: center;
}
.top-banner{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    padding:80px;
    border: 2px solid indianred;
    border-radius: 40px;
    background-color: rgb(19, 18, 18);
    width:850px;
    height:550px;
    align-items: end;
    justify-items: center;
    
}
h1{
    font-size: 30px;
    color: #d1d1d1;
   
}
p{
    color:#d1d1d1;
    font-size: 15px;
}
.link-button{
    text-decoration: none;
    font-size: 30px;
    background-color: red;
    color:aliceblue;
    width:300;
    height: 150px;
    border:1px solid red;
    border-radius: 5px;
}
.fa-greater-than{
    color:chartreuse;
    font-size: 30px;
}


/*---------------
   blogs-style
----------------*/

.container{
    margin-top:none;
}
.courses{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    margin-left:150px ;
    margin-right: 120px;
}
.course-banner img{
    width:350;
    height:150px;
    
}
.course{
  box-shadow: 10px 15px 12px rgb(218, 206, 206);
  margin-top: 30px;
  width:267px;
  height: 340px;
}
.link-button-2{
    font-size: 20px;
    margin-top: 10px;
    color:rgb(17, 16, 16);
    background-color: rgb(244, 250, 250);
    border-radius: 5px;
    
}
p{
    color:black;
    font-size: 20px;
    font-weight: 600px;
}
.icon-font{
    font-size:20px;
    font-weight: 400px;
}
.fa-clock{
    font-size:20px;
}
.fa-message{
    font-size: 20px;
   margin-top: 5px;
}
/*---------------
  footer-start
--------------*/
 li{
    list-style: none;
    margin-right:30px;
    padding: 10px;
   

}
 li a{
    text-decoration:none;
    color:rgb(236, 248, 236);
    font-size: 20px;
    margin-bottom: 200px;

}
 ul{
    display: flex;
    justify-content: center;
}
.footer-blog{
    background-color: rgb(14, 13, 13);
    margin-top: 150px;
    width:100%;
    height:370px;
}
.center{
    justify-content: center;
}
hr{
    border:1px solid #d1d1d1;
    
}
.goal-center{
    font-size: 80px;
}
.goal{
    font-size: 40px;
}
/*-------------------
  footer-social-link
-------------------*/

.social-icon{
    display: flex;
    justify-content: center;
}
.fa-facebook{
    color:rgb(247, 244, 244);
    font-size:40px;
    padding:12px ;

}
.fa-youtube{
    color:rgb(247, 244, 244);
    font-size:40px;
    padding:12px ;
}

.fa-instagram-square{
    color:rgb(247, 244, 244);
    font-size:40px;
    padding:12px ;
}

/*-------------
   log-in-form
----------------*/
.log-in-blog{
    display:flex;
    flex-direction: column;
    width: 14%;
    height: 220px;
    border: 1px solid black;
    background-color: rgb(32, 31, 31);
    border-radius: 10px;
  }
.log-in-blog input{
margin-top: 1em;
font-size: 1.2em;
padding: 10px 15px;
border: 1px solid black;
}
.log-in-blog button{
margin-top: 1em;
font-size: 1.2em;
padding: 10px 15px;
}
.log-in-blog button[type="submit"]{
background-color: rgb(200, 255, 127);
border: 0;
border-radius: 10px;
font-weight: 600px;
color:rgb(177, 1, 133);
}

.log-in{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    justify-content:left;
    margin-top: 150px;
}

